@media (max-width:768px) {

    h2 {
        font-size: 18px;
        font-weight: 600;
    }
     
    p {
        font-weight: 300;
    }

    .container {
        width: 100%;
        margin-left: 0px;
        padding: 0px;
    }
    
    header {
        margin: 0;
        width: 100%;
        height: auto;
        flex-direction: column;
        margin: 0px 0 50px 0;
    }

    .logo-nav {
        display: flex;
        justify-content: center;
        padding-left: 20px;
    }

    .logo-nav img {
        height: 55px ;
        align-self: center;       
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        text-align: center;
    }

    nav ul li {
        width: 50%;
        padding-top: 30px;
        padding-bottom: 20px;
        border-top: none;
        border-bottom: 4px solid var(--grey);
    }

    .accomodation-link {
        margin: 0;
    }

    .accomodation-link:hover, .activity-link:hover {
        color: blue;
        border-top: none;
        border-bottom: 4px solid var(--blue);
    }

    .search-field {
        padding-left: 10px ;
        padding-right: 10px;
    }

    .search-field .search-btn {
        padding-right: 0px;
        padding-left: 0px;
        border-radius: 9px;
    }

    .search-btn span {
        display: none;
    }
    
    .search-btn i {
        display: block;
        background-color: var(--blue);
        border-radius: 8px;
        min-width: 44px;
    }

    .bold-text {
        width: 100%;
        float: left;
    }

    .filters {
        gap: 15px;
        flex-direction: column;
    }

    .accomodations {
        padding: 0;
        width: 100%;
        flex-direction: column-reverse;
    }
    
    #marseille {
        width: 100%;
        background-color: #fff;
        padding: 30px 25px;
    }

    .cards-container a {
        flex-basis: 100%;
        max-height: fit-content;
    }

    .card-body {
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    
    .card-image img{
        height: 130px;
    }


    .card-infos {
        height: 90px;
        padding: 5px 5px;
    }
    
    section #most-popular {
        width: 100%;
        border-radius: 0;
        padding: 0;
    }

    .cards-pop-container {
        flex-direction: column;
        padding: 15px 25px 30px 25px;
    }
    
    .cards-pop-container a {
        height: 160px;
    }

    .card-pop-body {
        max-width: 100%;
        height: 150px;
        padding: 7px;
    }

    .card-pop-image {
        height: 100%;
        width: 40%;
    }

    .card-pop-infos {
        padding: 10px 5px 0px 7px;
    }

    .activities {
        width: 100%;
        padding: 15px 25px;
        margin: 0;
    }

    .activities h2 {
        margin-left: 5px;
    }
    
    .activities-container {
        flex-direction: column;
        justify-content: space-between;
        max-height: fit-content;

    }

    .two-dimentional-column {
        height: fit-content;
    }

    .column {
        width: 100%;
        max-width: 100%;
        max-height: none;
        height: fit-content;
    }
    
    .card {
        height: 252px;
        margin-top: 20px;
    }

    .activity-image img {
        height:150px;
    }

    footer {
        flex-direction: column;
        height: 450px;
        justify-content: space-between;
        padding: 50px 25px;
    }

    .col-33 ul {
        padding-top: 10px;
    }
}